<%= form_with(model: railcar, local: true) do |form| %>
  <%= render 'common/errors', resource: railcar %>
  
  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind, id: :railcar_kind %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
