<p>
  <strong>Тип:</strong>
  <%= @railcar.kind %>
</p>

<p>
	<%= "Верхние места: #{@railcar.top_seats}" %><br>
	<%= "Поезд: #{@railcar.train.number}" %><br>
	<%= "Нижние места: #{@railcar.bottom_seats}" %>
</p>

<%= link_to 'Редактировать', edit_railcar_path(@railcar) %> |
<%= link_to 'Назад', railcars_path %>
