<p>
  <strong>Тип:</strong>
  <%= @railcar.type %>
</p>

<p>
  <strong>Номер:</strong>
  <%= @railcar.number %>
</p>

<p>
  <strong>Поезд:</strong>
  <%= @railcar.train.number %>
</p>

<p>
    <%= render partial: "#{@railcar.type.underscore}" %>
</p>

<%= link_to 'Редактировать', edit_railcar_path(@railcar) %> |
<%= link_to 'Назад', @railcar.train %>
