<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
    <% if @train.route %>
        <%= "Маршрут поезда: #{@train.route.name}" %>
    <% else %>
        Маршрут не назначен
    <% end %>
</p>

<p>
    <% platzkart_railcars = @train.railcars.select { |railcar| railcar.kind == "плацкарт".downcase } %>
    <% coupe_railcars = @train.railcars.select { |railcar| railcar.kind == "купе".downcase } %>
    <%= "Плацкартных вагонов: #{platzkart_railcars.size}" %><br>
    <%= "Купейных вагонов: #{coupe_railcars.size}" %>
</p>

<p>
    Общее количество мест в плацкартных вагонах:
    <%= render 'seats_amount', railcar_type: platzkart_railcars %>
</p>

<p>
    Общее количество мест в купейных вагонах:
    <%= render 'seats_amount', railcar_type: coupe_railcars %> 
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
