<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
    <% if @train.route %>
        <%= "Маршрут поезда: #{@train.route.name}" %>
    <% else %>
        Маршрут не назначен
    <% end %>
</p>

<p>
    Вагоны:
    <ul>
        <% if @train.railcars.any? %>
            <% @sorted_railcars.each do |railcar| %>
                <li><%= link_to "#{railcar.number}", railcar.becomes(Railcar) %></li>
            <% end %>
        <% else %>
            У поезда нет вагонов
        <% end %>
    </ul>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
