<h1>Результаты поиска</h1>
<p>
    <table>
        <thead>
            <tr>
                <td><b>Маршрут</b></td>
                <td><b>Время отправления</b></td>
                <td><b>Время прибытия</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @route.name %></td>
                <td><%= @route.first_station_time %></td>
                <td><%= @route.last_station_time %></td>
            </tr>
        </tbody>
    </table>
</p>

<p>
    <strong>Поезда на маршруте: </strong>
    <ul>
    <% @route.trains.each do |train| %>
        <li>
            <%= train.number %>&nbsp;
            <%= link_to 'Купить билет', 
                new_ticket_path(train_id: train.id, depart_station_id: @route.station_id(1), arrive_station_id: @route.station_id(2)) 
            %>
        </li>
    <% end %>
    </ul>
</p>