<h1>Результаты поиска</h1>
<% @depart_station = @route.railway_stations.first %>
<% @arrive_station = @route.railway_stations.last %>

<p>
    <table>
        <thead>
            <tr>
                <td><b>Маршрут</b></td>
                <td><b>Время отправления</b></td>
                <td><b>Время прибытия</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @route_name %></td>
                <td><%= @departure_time.strftime('%H:%M') %></td>
                <td><%= @arrival_time.strftime('%H:%M') %></td>
            </tr>
        </tbody>
    </table>
</p>

<p>
    <strong>Поезда на маршруте: </strong>
    <ul>
    <% @trains.each do |train| %>
        <li>
            <%= train.number %>&nbsp;
            <%= link_to 'Купить билет', new_ticket_path(train_id: train.id, depart_station_id: @depart_station.id, arrive_station_id: @arrive_station.id) %>
        </li>
    <% end %>
    </ul>
</p>

<p><%= link_to 'Назад', search_path %></p>