<tr>
    <td>
    	<p id="number-train-<%= train.id %>"><%= train.number %></p>
    	<%= render 'form', train: train, hide: true %>
    </td>
    <td><%= link_to 'Показать', admin_train_path(train) %></td>
    <td><%= link_to 'Редактировать', '', class: "edit-train", data: { train_id: train.id } %></td>
    <td><%= link_to 'Удалить', admin_train_path(train), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>