<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
    <% if @train.route %>
        <strong>Маршрут поезда: </strong><%= @train.route.name %>
    <% else %>
        Маршрут не назначен
    <% end %>
</p>

<p>
    <strong>Вагоны:</strong>
    <ul>
        <% if @train.railcars.any? %>
            <% @sorted_railcars.each do |railcar| %>
                <li><%= link_to "#{railcar.number}", admin_railcar_path(railcar.becomes(Railcar)) %></li>
            <% end %>
        <% else %>
            У поезда нет вагонов
        <% end %>
    </ul>
</p>

<p>
    <%= link_to "Добавить вагон", new_admin_train_railcar_path(@train) %>
</p>

<%= link_to 'Редактировать', edit_admin_train_path(@train) %> |
<%= link_to 'Назад', admin_trains_path %>
