<h1>Билеты</h1>

<table>
  <thead>
    <tr>
      <td><b>Маршрут</b></td>
      <td><b>ФИО Пассажира</b></td>
      <td><b>Действия</b></td>
    </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
        <td><%= "#{ticket.depart_station.title} - #{ticket.arrive_station.title}" %></td>
        <td><%= "#{ticket.last_name} #{ticket.first_name} #{ticket.middle_name}" %>
        <td><%= link_to 'Показать', ticket_path(ticket) %></td>
        <td><%= link_to 'Удалить', ticket_path(ticket), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Назад', welcome_index_path %></p>