<h1>Покупка билета</h1>

<% if user_signed_in? %>
  <%= form_for @ticket do |form| %>
      <%= form.hidden_field :train_id, { value: params[:train_id] } %>
      <%= form.hidden_field :depart_station_id, { value: params[:depart_station_id] } %>
      <%= form.hidden_field :arrive_station_id, { value: params[:arrive_station_id] } %>

      <%= render 'common/user_data', form: form %>

    <%= form.submit 'Купить билет', class: "btn btn-default" %>
  <% end %>
<% else %>
  <p>Для покупки билета необходимо <%= link_to 'зарегистрироваться', new_user_registration_path %></p>
<% end %>

<p><%= link_to 'Назад к поиску', search_path %></p>