<p>
    <%= form.label :first_name, 'Имя:' %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name, 'Фамилия:' %>
    <%= form.text_field :last_name %>

    <%= form.label :middle_name, 'Отчество:' %>
    <%= form.text_field :middle_name %>

    <%= form.label :passport_number, 'Паспортные данные:' %>
    <%= form.text_field :passport_number %>
</p>