<p>
  <strong>Маршрут:</strong>
  <%= @route.name %>
</p>

<p>
    <strong>Поезда на маршруте:</strong>
    <ul>
        <% if @route.trains.any? %>
            <% @route.trains.each do |train| %>
                <li><%= train.number %></li>
            <% end %>
        <% else %>
            Поездов на маршруте нет
        <% end %>
    </ul>
</p>

<p>
    <strong>Станции в маршруте:</strong>
    <ul>
        <% if @route.railway_stations.any? %>
            <% @route.railway_stations.each do |station| %>
                <li><%= station.title %></li>
            <% end %>
        <% else %>
            Станций в маршруте нет
        <% end %>
    </ul>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
