<tr>
    <td>
    	<%= route.name %>
    	<%= render 'form', route: route, hide: true %>
    </td>
    <td><%= link_to 'Показать', admin_route_path(route) %></td>
    <td><%= link_to 'Редактировать', '', class: "edit-route", data: { route_id: route.id } %></td>
    <td><%= link_to 'Удалить', admin_route_path(route), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>