<div calss="page-header">
  <h3><small>Маршрут: </small><%= @route.name %></h3>
</div>

<p>
    <strong>Поезда на маршруте:</strong>
    <ul class="list-group">
        <% if @route.trains.any? %>
            <% @route.trains.each do |train| %>
                <li class="list-group-item"><%= train.number %></li>
            <% end %>
        <% else %>
            Поездов на маршруте нет
        <% end %>
    </ul>
</p>

<p>
    <strong>Станции в маршруте:</strong>
    <% if @route.railway_stations.any? %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Позиция</td>
                    <td>Время прибытия/отправления</td>
                </tr>
            </thead>
            <tbody>
            <% @route.railway_stations.ordered.each do |station| %>
                <tr>
                    <td><%= station.title %></td>
                    <td>
                    <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                        <%= number_field_tag :position, station.position_in(@route), class: 'form-control' %>
                        <%= hidden_field_tag :route_id, @route.id %>
                        <%= submit_tag "Изменить", class: "btn btn-default btn-xs" %>
                    <% end %>
                    </td>
                    <td>
                    <%= form_tag set_time_admin_railway_station_path(station), method: :patch do %>
                        <%= select_time station.current_arrival_time(@route), prefix: :arrival_time %>
                        <%= select_time station.current_departure_time(@route), prefix: :departure_time %>
                        <%= hidden_field_tag :route_id, @route.id %>
                        <%= submit_tag "Изменить" %>
                    <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% else %>
        Станций в маршруте нет
    <% end %>
</p>

<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>
